<!DOCTYPE html>
<html lang="en">
<head>
<title>Error | Glitch</title>
</head>
<body>
  <header>
    <%- include('./_header'); %>
  </header>
  <main>
    <p class="bold"><%- message; %> Please go back to the main page.</p>
    <a href="/">Main</a>
  </main>

  <%- include('./_footer'); %>

</body>
</html>
